@import "tailwindcss";

body{
    background-color: black;
}
.shadow-element {
  /* box-shadow: 1px 0px 24px 10px rgb(104, 106, 109); */
 box-shadow: 0px 0px 11px 4px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 11px 4px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 0px 11px 4px rgba(255,255,255,0.75);
}
.light {
    filter: grayscale(100%) brightness(90%); /* Adjusts to a gray shade */
}